<div class="center hero-unit">
	
	<h1>Welcome to Musido</h1>

	<h2>
		Where artists collaborate in realtime.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>