<footer class="footer">
	<small>
		<a href="http://soundcloud.com/">SoundCloud</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Contact",	contact_path %></li>
			<li><a href="http://mixmag.net/">MixMag Anyone?</a></li>
		</ul>
	</nav>
</footer>
